    <table id="openvpn-clients">
      <thead>
        <tr>
          <th>{% trans %}Client{% endtrans %}</th>
          <th>{% trans %}Status{% endtrans %}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
{% for cert in client_certs %}
        <tr id="serial-{{ cert["id"] }}-name-{{ cert["name"] }}">
          <td>{{ cert["name"] }}</td>
  {% if cert['status'] == 'revoked' %}
          <td title="{{ cert['status_msg'] }}"><i class="fas fa-times"></i></td>
  {% elif cert['status'] == 'generating' %}
          <td title="{{ cert['status_msg'] }}"><i class="fas fa-clock"></i></td>
  {% elif cert['status'] == 'valid' %}
          <td title="{{ cert['status_msg'] }}"><i class="fas fa-check"></i></td>
  {% else %}
          <td>{{ cert['status'] }}</td>
  {% endif %}
          <td>
  {% if cert['status'] == 'valid' %}
            <button name="download-config" value="{{ cert["id"] }}" type="submit"><i class="fas fa-download"></i> {% trans %}Get Config{% endtrans %}</button>
  {% endif %}
  {% if cert['status'] != 'revoked' and cert['status'] != 'generating' %}
            <button name="revoke-client" value="{{ cert["id"] }}" type="submit"><i class="fas fa-times"></i> {% trans %}Revoke{% endtrans %}</button>
  {% endif %}
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
